@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Fraunces&family=Mooli&display=swap');

/* Global Styles */
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Edu NSW ACT Foundation', sans-serif;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
}

header {
    display: flex;
    flex-direction: center;
    align-items: flex-end;
    justify-content: center;
    font-family: var(--secondary-font);
    font-size: 4rem;
    padding: 50;
}

header img {
    width: 100px;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%; 
    border: 1px solid;
    border-radius: 8px;
    overflow: hidden; 
    max-width: 90%; 
    margin: 10px auto; 
}

.search-container input {
    flex: 1;
    border: none; 
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.search-container input::placeholder {
    color: gray;
}

.search-container button {
    background: white; 
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container button img {
    width: 18px;
    height: 18px;
}

.recipe {
    border: solid;
    max-width: 90%;
    margin: 10px auto; 
    border: 1px solid; 
    border-radius: 8px; 
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 25px;
    width: 100%;
    overflow: hidden;
}

.recipe img {
    width: 25rem;
}

.tags {
    border: solid;
    padding: 5px;
    margin-top: 5px;
    width: 55px;
}

.recipe-title {
    font-family: var(--secondary-font);
    color: #02A4D9;
}

.recipe-description {
    display: none;
}

footer {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--text-dark);
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.social img {
    width: 50px;
    height: 50px;
}

.attribution {
    font-size: 0.6em;
    text-decoration: none;
}

img {
	max-width: 100%;
}

@media screen and (min-width: 600px) {
    .recipe {
        flex-direction: row;
    }
    .recipe-info {
        display: column;
        gap: 5px;
        align-items: flex-start;
        margin: 15px;
    }
    .recipe-title, .rating, .tags, .recipe-description {
        display: flex;
    }
    .recipe-description {
        text-align: start;
    }
}

@media screen and (min-width: 960px) {

}