.content {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}
header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 20px;
    margin-top: 100px;
}
h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    font-size: 17px;
    color: #006EB6;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid rgb(232, 232, 232);
}
main {
    justify-content: center;
    text-align: left;
    line-height: 1.5;
}
li {
    padding-top: 10px;
}
.logo {
    width: 150px;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2{
    color: #A0D4ED
}

