:root {
    --primary-color: #6387F2;
    --secondary-color: #BFAB49;
    --text-dark: #262626;
    --text-light: #ebebeb;
    --primary-font: Helvetica, sans-serif;
}
header {
    font-family: var(--primary-font);
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.25rem 0;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.content-wrapper {
    font-family: var(--primary-font);
    color: var(--text-dark);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
nav {
    border-bottom: 0.0625rem solid var(--primary-color);
    border-top: 0.0625rem solid var(--primary-color);
    font-family: var(--primary-font);
}
nav > ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    justify-items: end;
    padding: 0.625rem 0;
    list-style: none;
    margin-right: 5rem;
}
nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;

}
#book-info {

    gap: 1.25rem;
}
#book-info h2{
    color: var(--secondary-color);
    font-size: 1.5rem;
}
#book-info img {
    width: 15rem;
    height: auto
}
#review-details {
    font-size: 1rem;
    max-width: 50rem;
    margin: auto;
}
aside {
    font-size: 0.875rem;
    color: var(--text-dark);
    justify-items: right;
    align-self: start; /* Keeps aside at the top of the column */
    padding-right: 1rem; /* Add spacing */
}
.highlight {
    color: var(--secondary-color);
}