:root {
    --primary-color: #BFAB49;
    --secondary-color: #6387F2;
    --text-dark: #262626;
    --text-light: #ebebeb;
    --primary-font: Helvetica, sans-serif;
}
header {
    font-family: var(--primary-font);
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.25rem 0;
}
.content-wrapper {
    font-family: var(--primary-font);
    color: var(--text-dark);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 5fr 1.5fr; 
}
.book-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.book-entry {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 2rem;
    margin-right: 1rem;
}
nav {
    border-bottom: 0.15rem solid var(--primary-color);
    border-top: 0.15rem solid var(--primary-color);
    font-family: var(--primary-font);
    margin-bottom: 2rem;
}
nav > ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    justify-items: end;
    padding: 0.625rem 0;
    list-style: none;
    margin-right: 5rem;
}
nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
}
.book-info {
    gap: 1.25rem;
}
.book-info h2{
    color: var(--secondary-color);
    font-size: 1.75rem;
}
.book-info img {
    width: 13rem;
    height: auto;
    display: block;
    margin: 0 auto;
}
.review-details {
    font-size: 1rem;
    max-width: 50rem;
    text-align: right;
    border-right: 2px solid var(--primary-color);
    padding-right: 20px;
    margin-top: 20px;
    line-height: 75%;
}
aside {
    font-size: 0.875rem;
    color: var(--text-dark);
    align-self: start;
    border: 0.15rem solid var(--primary-color);
    min-height: 100vh;
    margin-top: 1.5rem;
    margin-right: 2.5rem;
}
.highlight {
    color: var(--secondary-color);
}
.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--primary-color);
    color: var(--text-light);
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
}

.skiptocontent a:focus {
    top: 0;
}